body {
	background-image: url("cookieBack.jpg");
	background-size: cover;
	color: #5b6566;
}

.header {
	height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5b6566;
    font-size: 3em;
    border: 1px solid #ff0000;
}

		

.cookie-image {
    display: flex;
    justify-content: center;
    align-items:center;    
    height: 15em;
}

.counter {
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 4em;
	display: flex;
	justify-content: center;
	color: #5b6566;
	box-sizing: border-box;
	height: 1em;
	margin-top: 0.5em;
	width: 90%;

}

.game-field {
	display: flex;
	justify-content: center;
	border: 1px solid #ff0000;
	justify-content: space-between;
}

.cookie-field {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

}
.collectors-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro-collectors {
	display: flex;
	justify-content: space-between;
}


.collector {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.05em;
	margin-top: 0.05em;
	align-items: center;
	font-size: 4em;
}

.column {
	background-color: rgba(63, 191, 191, .4);
	width: 30%;
	padding: 1.5em;
	box-sizing: border-box;
}
.legend {
	background-color: rgba(235, 194, 194, 0.2);
	display: flex;
	justify-content: center;
	width: 100%;
	height: 8em;
	margin: 0.5em;
	color: #5b6566;
	padding: 1em;
}

.buyButton {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
}
			
.resize {
	height: 10em;
}